<h2>Account details:</h2><br />
<div class="field">
  <h4> First Name: <%= current_user.firstname %></h4>
  <h4> Last Name: <%= current_user.lastname %></h4>
  <h4> Email: <%= current_user.email %></h4><br />
</div>

<div>
  <button><%= link_to "Edit account details", edit_user_path(current_user) %> </button>
</div>
