<% if current_user %>
  <h2>Restaurants available to take reservations:</h2><br />
<% else %>
  <h2>Welcome to Seat Yourself</h2>
  <h3>Log in or Sign Up to Make a Reservation</h3><br />
<% end %>
<div>

<div>
<% @restaurants.select("cuisine_type").group("cuisine_type").each do |r| %>
  <h4><%= r.cuisine_type %></h4><br />
  <% @restaurants.where('cuisine_type' => r.cuisine_type).each do |restaurant| %>
  <button>
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  </button>
  <% end %>
<% end %>
</div>
